:root {
    --blue-bayoux-50: #f5f8fa;
    --blue-bayoux-100: #e9eff5;
    --blue-bayoux-200: #cfdde8;
    --blue-bayoux-600: #3b6381;
    --blue-bayoux-700: #345670;
    --blue-bayoux-800: #0b3d93;
    --blue-bayoux-900: #122754;
    --blue-bayoux-950: #080d28;

    --gris-fondo:#F2F2F2;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
    background: var(--gris-fondo);
    color: var(--gris-fondo);
    font-family: 'Protest Strike', sans-serif;
    overflow: hidden; 
}

.containertarifador{
    display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(12, 1fr);
	gap: 0;
    height: 100%;
	width: 100%;
    background: white;
}

/*MENU DEL DASHBOARD*/
.menu-dashboard{
	grid-area: 1 / 1 / 12 / 1;   
}

.top-menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.top-menu .logo{
    align-items: center;
    display: flex;
}

.top-menu .logo img {
    border-radius: 30px;
    transition: width .3s ease;
    width: 120px;
}

.top-menu .logo span {
    display: none;
    font-size: 20px;
    margin-left: 20px;
}

.top-menu .toggle{
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: space-between;
    width: 30px;
}

.top-menu .toggle i {
    font-size: 35px;
    color: black;
}

hr {
    border: solid 1px;
    margin: 10px auto auto;
    color: white;
}

.menu{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 20px;
}

.menu-dashboard{
    background: #F2F2F2;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    transition: all 0.8s ease;
    width: 150px;
    z-index: 1;
    height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menu-dashboard.open{
    transition: all 0.8s ease;
    grid-area: 1 / 1 / 12 / 1;   
}

.menu-dashboard.open .menu .enlace {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: left;
    transition: all 0.8;
    width: 100%;
    text-decoration: none;
}

.menu .enlace:hover {
    background: linear-gradient(to bottom right,#1B233D, #049FBB, #50F6FF);
    border-radius: 4px;
    color: black;
}

.menu .enlace i {
    font-size: 30px;
    padding: 8px;
    color: black;
}

.menu-dashboard.open .menu .enlace span{
    display: block;
    color: black;
}

.menu-dashboard.open .menu .enlace.lognup {
    width: 88%;
}

.menu .enlace span {
    display: none;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    width: 250px;
}

.menu-dashboard.open .top-menu .logo span {
    display: block;
}

.enlace {
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4px;
}

/*MENU PERFIL USUARIO*/
.menuUser{
    background: linear-gradient(to bottom right,#1B233D, #049FBB, #50F6FF);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    grid-area: 1 / 2 / 1 / 13;
    height: 80px;
    border-radius: 10px;
    margin: 5px;
    display: flex;
}

.content-close{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 1rem;
}

.bx-menu{
    position: relative;
    justify-content: flex-start;
    font-size: 40px;
    display: grid;
}

.contentperfil{
    margin-top: 10px;
    position: absolute;
    right: 200px;
}

.content-car{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 2rem;
  }

.bx-cart{
    position: relative;
    justify-content: flex-end;
    font-size: 40px;
}

nav{
    margin-top: 30px;
    position: absolute;
    right: 120px;
}

nav ul li{
    list-style: none;
}

.perfil{
    font-family: 'Protest Strike', sans-serif;
    font-size: 20px;
    text-decoration: none;
}



/*SUBMENU*/
.submenu{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    padding: 14px 0px;
    position: absolute;
    right: -60px;
    transition: all 300ms ease;
    top: 50px;
    width: 200px;
    z-index: 10;
}

.submenu .textsubmenu i{
    font-size: 14px;
    margin-right: 20px;
}

nav:hover .submenu {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

.textsubmenu{
    color: var(--blue-bayoux-950);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.textsubmenu:hover{
    background: linear-gradient(to bottom right,#1B233D, #049FBB, #50F6FF);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    color: white;
    font-size: 16px;
    padding-left: 30px;
    transform: scale(1.1);
}

/*CONTENEDER DE DATOS*/
.contdatos {
    background-color: white;
    color: #080d28;
	grid-area: 2 / 2 / 13 / 13;
    overflow-y: scroll;
    position: relative;
    top: 0rem;
}

/*Responsive a 600px*/

@media only screen and (max-width: 600px) {

    .containertarifador{
        display: grid;
        gap: 0;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 100%;
        width: 100%;
    }
    
    .menu-dashboard{
        grid-area: 1 / 1 / 1 / 11;
        height: 150px;
    }

    .menuUser{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        grid-area: 2 / 1 / 2 / 11;
        height: 80px;
    }

    .contentperfil{
        margin-top: 20px;    
        position: absolute;
        right: 150px;
    }

    nav{
        height: 100%;
        margin-top: 30px;
        position: fixed;
        right: 50px;
    }

    .contdatos{
        background-color: rgba(28,67,45, 0.5);
        background-color: var(--gris-fondo);
        grid-area: 2 / 1 / 7 / 11;
        min-height: 100vh;
    }

    .menu-dashboard.open .menu .enlace.lognup{
        width: 100%;
    }

    .menu {
        display: none;
    }

    .menu-dashboard.open .menu {
        display: flex;
    }
    
    .menu .enlace {
        display: flex;
    }

    .menu .enlace i,span {
        opacity: 0;
    }

    .menu-dashboard{
        width: 100%;
        height: 125px;
        flex-direction: column;
    }

    .top-menu {
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-dashboard.open {
        height: auto;
        width: 100%;
        grid-area: 1 / 1 / 1 / 11;
    }

    .menu-dashboard.open .menu .enlace{
        height: 100%;
        padding: 2px 0;
        text-align: center;
    }

    .menu-dashboard.open .menu .enlace i {
        font-size: 24px;
        margin-right: 0;
        opacity: 1;

    }

    .menu-dashboard.open .menu .enlace span {
        opacity: 1;

    }

    .enlace.lognup {
        position: relative;
    }

}

