{% extends 'plantilla.html' %}
{% load static %}
{% block title %}Ofertas de Cursos Virtuales{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block content %}

<h2>Ofertas de Cursos Virtuales</h2>

<hr class="linea">


<div class="cursos-container">
    <div class="curso-item">
        <div class="curso-video">
            <iframe id="youtube-video" title="Curso 1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="content-cards">
    {% for cursito in cursito %}
        <div class="curso-card" data-nombre="{{ cursito.nombre }}" data-descripcion="{{ cursito.descripcion }}">
            <a href="{% url 'compracurso' %}">
            <img src="{{ cursito.imagen }}" alt="Curso Imagen">
            <div class="curso-info">
                <h3>{{ cursito.nombre }}</h3>
                <p>{{ cursito.descripcion }}</p>
                <p>{{cursito.precio}}</p>
            </div>
            </a>
        </div>
    {% endfor %}
</div>



{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var videoId = 'dCl4Fwr_9oI';
        var iframe = document.getElementById('youtube-video');
        iframe.src = "https://www.youtube.com/embed/" + videoId;
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Selecciona todos los elementos de curso
        const cursos = document.querySelectorAll('.curso-card');
    
        // Añade un evento de clic a cada tarjeta de curso
        cursos.forEach(curso => {
            curso.addEventListener('click', function() {
                const nombre = curso.getAttribute('data-nombre');
                const descripcion = curso.getAttribute('data-descripcion');
                const precio = curso.getAttribute('data-precio');
                const imagen = curso.querySelector('img').getAttribute('src');
    
                // Almacena cada dato en el localStorage con claves separadas
                localStorage.setItem('cursoNombre', nombre);
                localStorage.setItem('cursoDescripcion', descripcion);
                localStorage.setItem('cursoPrecio', precio);
                localStorage.setItem('cursoImagen', imagen);
            });
        });
    });
    </script>
    
{% endblock %}


