{% extends 'plantilla.html' %}
{% load static %}
{% block title %}Ofertas de Cursos Virtuales{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block content %}

<h2>Ofertas de Cursos Virtuales</h2>

<hr class="linea">


<div class="cursos-container">
    <div class="curso-item">
        <div class="curso-video">
            <iframe id="youtube-video" title="Curso 1" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="content-cards">
    {% for cursito in cursito  %}
        <div class="curso-card" data-nombre="{{ cursito.nombre }}" data-descripcion="{{ cursito.descripcion }}">
            <a href="{% url 'compracurso' %}">
            <img src="{{ cursito.imagen }}" alt="Curso Imagen">
            <div class="curso-info">
                <h3>{{ cursito.nombre }}</h3>
                <p>{{ cursito.descripcion }}</p>
            </div>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var videoId = 'dCl4Fwr_9oI';
        var iframe = document.getElementById('youtube-video');
        iframe.src = "https://www.youtube.com/embed/" + videoId;
    });
</script>

<script>
    var cursoCards = document.querySelectorAll('.curso-card');
    cursoCards.forEach(function(cursoCard) {
        cursoCard.addEventListener('click', function() {
            var nombre = this.getAttribute('data-nombre');
            var descripcion = this.getAttribute('data-descripcion');
            var contenido = nombre + ' - ' + descripcion;
            localStorage.setItem('contenidoTarjeta', contenido);
            alert('Contenido de la tarjeta guardado en Local Storage.');
        });
    });
</script>
{% endblock %}


